header.ly_header.js_header
	.ly_header_inner
		p.el_header_tit
			a(href="#") Cresta Design
		//ハンバーガーメニュー
		.pc-hidden.tab-hidden.nav-drawer
			input#nav-input.nav-unshown(type="checkbox")
			label#nav-open(for="nav-input")
				span
			#nav-content
				label.el_hamburgerClose(for="nav-input")
					span
				.bl_hamburgerWrapper
					ul.bl_hamburger
						li.el_hamburger_item.hp-tac
							a(href="index.html#lk_concept") Concept
						li.el_hamburger_item.hp-tac
							a(href="index.html#lk_service") Service
						li.el_hamburger_item.hp-tac
							a(href="index.html#lk_works") Works
						li.el_hamburger_item.hp-tac
							a(href="contact.html") Contact
		//PC用ナビゲーション
		nav.bl_header_nav.sp-hidden
			ul.bl_header_gnav
				li.el_header_gnavItem
					a(href="index.html#lk_concept") Concept
				li.el_header_gnavItem
					a(href="index.html#lk_service") Service
				li.el_header_gnavItem
					a(href="index.html#lk_works") Works
				li.el_header_gnavItem
					a(href="contact.html") Contact